In [62]:
#read diabetes.csv and pick column names from column headings file. column name should be clean without anything in () remove special chars from column name

import pandas

df1 = pandas.read_csv('C:\Local\python-training\Day-4\diabetes column heading.txt', header=None)
r"\(.*\)"
df1[0] = df1[0].str.replace(r'(\d. )|[$@#]|\(.*\)',' ', regex=True)

new_row=pandas.Series(df1[0])
df = pandas.read_csv('C:\Local\python-training\Day-4\diabetes_data_raw.csv', header=None, sep=' ')

#Push all rows 1 down and set the 0th row as new_row
df.loc[1:] = df.loc[:]
df.loc[0] = new_row

#Set the first row as column
df.columns = df.iloc[0]
df = df[1:]

#Drop all the columns with NaN title
df = df.loc[:, df.columns.notna()]
df

C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Age' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Number of times pregnant' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Plasma glucose concentration' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Diastolic  blood pressure  ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Triceps skinfold thickness  ' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 2-Hour serum    insulin  ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Body mass index  ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row
C:\Users\SESA509164\AppData\Local\Temp\ipykernel_17144\1287760277.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' Diabetes   pedigree function' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0] = new_row

,Age,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skinfold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function
1,48,1,21.6,87.0,183,103.2,70.0,3.0
2,72,2,30.5,93.0,156,93.6,41.0,4.0
3,24,1,25.3,84.0,198,131.4,40.0,5.0
4,50,1,23.0,101.0,192,125.4,52.0,4.0
5,23,1,22.6,89.0,139,64.8,61.0,2.0
...,...,...,...,...,...,...,...,...
437,60,2,28.2,112.0,185,113.8,42.0,4.0
438,47,2,24.9,75.0,225,166.0,42.0,5.0
439,60,2,24.9,99.67,162,106.6,43.0,3.77
440,36,1,30.0,95.0,201,125.2,42.0,4.79
441,36,1,19.6,71.0,250,133.2,97.0,3.0