In [ ]:
# is a single line comment
"""
this is a multiple
comments
we can give
"""
'''
again
multi line
comments
'''
__author__ = 'Abhaya Agrawal'

print("hello")

:

In [2]:
name = 'John'
name[3] # idnex starts from 0

'n'

In [3]:
name[-1] # get the last char

'n'

In [4]:
name[0] = 'K' # strings are immutable, once defined we cannot change the contents of a string

TypeError: 'str' object does not support item assignment

In [5]:
name = 'Ken' # we can replace the whole string all together, in that case
# new memory address is given to it

In [6]:
name = 'john'
name.upper() # it returns the upper case string on the screen, original string remain same

'JOHN'

In [7]:
name

'john'

In [8]:
name ='KEN'
name.lower()

'ken'

In [9]:
name = 'john mathew'
name.title() # convert first char of every word in a string to upper case

'John Mathew'

In [10]:
name.capitalize() # conver only the first char of a string to upper case

'John mathew'

In [13]:
a=10
b=20
c=30
if a<b:
    print("a is less than b")
    if a<c:
        print("a is less than c")
    else:
        print("a is not less than b")
else:
    print("a is not less than b")

IndentationError: expected an indented block after 'if' statement on line 6 (127805290.py, line 7)

In [15]:
name = input("please enter name ") # by default takes strings as input
if name == name[::-1]: # name[::-1] reverse a string
    print("name is palindrome")
else:
    print("name is not palindrome")

please enter name amit
name is not palindrome

In [ ]:
'''
1. take input radius of a circle and find its area and perimeter
2. take input from user first and last name and concatenate to full name with space 
   between first and last name
   - count the number of chars in full name inclusing space 
   - count upper case letters in full name 
   - count lower case letters in full name
   - count digits if any in full name
   - count special chars if any in full name
   - count spaces in full name
   - count number of vowels (in any case) in full name
'''

In [18]:
from math import pi
radius = float(input("Please enter the radius of a circle : "))
area = pi*radius**2
perimeter = 2*pi*radius
print("area of a circle is ", area)
print("perimeter of a circle is ", perimeter )

Please enter the radius of a circle : 2.3
area of a circle is  16.619025137490002
perimeter of a circle is  14.451326206513047

In [17]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
import string
fname = input("Please ente the first name : ")
lname = input("Please ente the last name : ")
full_name = fname + ' ' + lname
upper_count, lower_count, space_count, special_count, digit_count, vowel_count = 0,0,0,0,0,0
for x in full_name:
    if x.isupper():
        upper_count+=1
    elif x.islower():
        lower_count+=1
    elif x.isspace():
        space_count+=1
    elif x.isdigit():
        digit_count+=1
        
    if x in string.punctuation:
        special_count+=1
#     else:
#         special_count+=1
        
    if x.upper() in "AEIOU":
        vowel_count+=1
        
print("number of chars in full name is ", len(full_name))
print("upper case char count is ", upper_count)
print("lower case char count is ", lower_count)
print("special char count is ", special_count)
print("spaces count is ", space_count)
print("digits count is ", digit_count)
print("vowel count is ", vowel_count)

In [19]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
lists => []
in clause checks if the element is a part of list
append, extend, insert, + will add elements to a list
remove, pop and del will delete elements

In [20]:
list1=[10,20,30,'India', 'USA','China']
list1

[10, 20, 30, 'India', 'USA', 'China']

In [21]:
type(list1)

list

In [22]:
30 in list1

True

In [23]:
100 in list1

False

In [24]:
100 not in list1

True

In [25]:
list1.append(99)
list1

[10, 20, 30, 'India', 'USA', 'China', 99]

In [26]:
list1.extend([100,200,89])
list1

[10, 20, 30, 'India', 'USA', 'China', 99, 100, 200, 89]

In [27]:
list1 = list1+[8,7]
list1

[10, 20, 30, 'India', 'USA', 'China', 99, 100, 200, 89, 8, 7]

In [28]:
list1*2  # concatenate list with a same list

[10,
 20,
 30,
 'India',
 'USA',
 'China',
 99,
 100,
 200,
 89,
 8,
 7,
 10,
 20,
 30,
 'India',
 'USA',
 'China',
 99,
 100,
 200,
 89,
 8,
 7]

In [29]:
list1

[10, 20, 30, 'India', 'USA', 'China', 99, 100, 200, 89, 8, 7]

In [30]:
del list1[2]

In [31]:
list1

[10, 20, 'India', 'USA', 'China', 99, 100, 200, 89, 8, 7]

In [32]:
list1.pop() # last element removed and return to screen

7

In [33]:
list1

[10, 20, 'India', 'USA', 'China', 99, 100, 200, 89, 8]

In [34]:
list1.pop(2)
list1

[10, 20, 'USA', 'China', 99, 100, 200, 89, 8]

In [35]:
list1.remove("USA") # first occurance of USA get deleted

In [36]:
list1

[10, 20, 'China', 99, 100, 200, 89, 8]

In [37]:
for x in list1:
    print("x is ", x)

x is  10
x is  20
x is  China
x is  99
x is  100
x is  200
x is  89
x is  8

In [38]:
for x in range(len(list1)):
    print("element at ", x, "location is ", list1[x])

element at  0 location is  10
element at  1 location is  20
element at  2 location is  China
element at  3 location is  99
element at  4 location is  100
element at  5 location is  200
element at  6 location is  89
element at  7 location is  8

In [ ]:
'''
places = ['Delhi', 'Mumbai', 'CHENNAI', 'Jaipur']
attractions = ['Red Fort','Gateway of India', 'Marina Beach', 'Amer Fort']

ques 1:- print messages
Delhi has an attraction Red Fort
Mumbai has an attraction Gateway of India
..
...

ques 2:- take input from user any place and print its attraction
user should get max 3 chance to enter the right place. if all attempts fails print Failure
at any point user enters the right place, print its attraction and do not ask again
search of place should be case insensitive
'''

In [40]:
places = ["Delhi", "Mumbai", "CHENNaI", "Jaipur"]
attractions = ["Red Fort", "India Gate", "Beach", "Fort"]
for i in range(len(places)):
   print(places[i], "has an attraction ", attractions[i])

Delhi has an attraction  Red Fort
Mumbai has an attraction  India Gate
CHENNaI has an attraction  Beach
Jaipur has an attraction  Fort

In [44]:
count=1
found=0
while count<=3 and found==0:
    p = input("Please enter the place to find its attraction : ")
    for x in range(len(places)):
        if p.upper() == places[x].upper():
            print("attraction of this place is ", attractions[x])
            found=1
    count+=1
    
if found==0:
    print("Sorry all attempts exhausted")

Please enter the place to find its attraction : delhi
attraction of this place is  Red Fort

In [ ]:
# tuples - similar to lists but they are immutable
# once defined we cannot change contents of a tuple
# append, extend, insert, +, pop, del do not works in tuples
# they are 10 times faster in accessing elements as compared to lists as they are read only
# we store important info like adhaar card no, passport no, DL number, production server path etc

In [45]:
tup=()
type(tup)

tuple

In [46]:
tup=(10,20,30)
tup[0]

10

In [47]:
tup[-1]

30

In [48]:
tup[0]=100

TypeError: 'tuple' object does not support item assignment

In [49]:
10 in tup

True

In [50]:
100 not in tup

True

In [ ]:
'''
dictionary => key value pair
keys are unique
values can be duplicated
in clause checks by default all the keys
d.keys() - returns all the keys
d.values() - returns all the values
d.items() - returns key value pairs
d.pop(key)  - deletes the key value pair and returns the value on the screen
d[new key] = value => will add new key value pair
'''

In [51]:
d={'name':'amit', 'age':22, 'salary':20000}
d

{'name': 'amit', 'age': 22, 'salary': 20000}

In [52]:
type(d)

dict

In [53]:
'name' in d

True

In [54]:
'name' in d.keys()

True

In [55]:
d.values()

dict_values(['amit', 22, 20000])

In [56]:
d.keys()

dict_keys(['name', 'age', 'salary'])

In [57]:
d.items()

dict_items([('name', 'amit'), ('age', 22), ('salary', 20000)])

In [58]:
for k,v in d.items():
    print("key is ", k, "and value is ", v)

key is  name and value is  amit
key is  age and value is  22
key is  salary and value is  20000

In [59]:
d.pop('age')

22

In [60]:
d

{'name': 'amit', 'salary': 20000}

In [61]:
d['new age'] = 33
d

{'name': 'amit', 'salary': 20000, 'new age': 33}

In [ ]:
'''
1. take input from user key as roll number and name as value and store it in dictionary
do this infinitely till user enters 0 or negative roll number

2. once dictionary is created ask user roll number, if roll number is found print name of student
user should get max 3 chance to enter right roll number

3. take input name of student and create a list of all roll numbers having that name. search of
name should be case insensitive. if name not found, print "there is no student with this name"

'''

In [69]:
roll_number = 1
d={}
while roll_number > 0:
    roll_number = int(input("Please enter the roll number : "))
    if roll_number > 0:
        name = input("Please enter student name : ")
        d[roll_number] = name
print(d)

Please enter the roll number : 101
Please enter student name : AMIT
Please enter the roll number : 102
Please enter student name : suman
Please enter the roll number : 103
Please enter student name : AMit
Please enter the roll number : 104
Please enter student name : AmIT
Please enter the roll number : 106
Please enter student name : kiran
Please enter the roll number : -9
{101: 'AMIT', 102: 'suman', 103: 'AMit', 104: 'AmIT', 106: 'kiran'}

In [68]:
found = 0
count = 1
while count <= 3 and found == 0:
    roll_number = int(input("Please enter the roll number to find name of student : "))
    if roll_number in d.keys():
        found = 1
        print("name is ", d[roll_number])
    count+=1
if found == 0:
    print("Sorry all attempts exhausted")

Please enter the roll number to find name of student : 109
Please enter the roll number to find name of student : 109
Please enter the roll number to find name of student : 109
Sorry all attempts exhausted

In [73]:
list1 = []
name = input("Please enter name so that I can tell you list of students with that name : ")
for k,v in d.items():
    if v.upper() == name.upper():
        list1.append(k)
if len(list1)>0:
    print(list1)
else:
    print("Sorry no student found with that name")

Please enter name so that I can tell you list of students with that name : amit
[101, 103, 104]